@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #cad2c5;
}

body {
  font-family: "Zen Kurenaido", sans-serif;
}

.card {
  outline: none;
  flex-grow: 0;
  flex-shrink: 0;
  width: 325px;
  height: 450px;
  overflow: hidden;
  color: white;
  text-decoration: none;
  background: #2f3e46;
  background: linear-gradient(90deg, #2f3e46 0%, #84a98c 100%);
  background: -webkit-linear-gradient(90deg, #2f3e46 0%, #84a98c 100%);
  filter: "progid: DXImageTransform.Microsoft.gradient( startColorstr=" #2F3E46 ", endColorstr=" #84A98C ", GradientType=1 )";
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px 5px 0 0;
  transition: all 0.2s;
}
.card:focus, .card:hover {
  background: #2f3e46;
  background: linear-gradient(90deg, #2f3e46 0%, #cad3c5 100%);
  background: -webkit-linear-gradient(90deg, #2f3e46 0%, #cad3c5 100%);
  filter: "progid: DXImageTransform.Microsoft.gradient( startColorstr=" #2F3E46 ", endColorstr=" #CAD2C5 ", GradientType=1 )";
  transform: scale(1.025);
  transform-origin: bottom;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.6);
}
.card__image-container {
  height: 325px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 75%, 50% 100%, 100% 50%, 100% 0);
  clip-path: polygon(0 0, 0 75%, 50% 100%, 100% 50%, 100% 0);
}
.card__image {
  height: 100%;
  width: 100%;
  filter: saturate(0.25);
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s;
}
.card:hover .card__image {
  transform: scale(1.1);
  filter: saturate(1.5);
}
.card__content {
  padding: 2em;
  text-align: center;
}
@media (max-width: 713px) {
  .card__article {
    display: flex;
  }
  .card__image-container {
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 60%, 75% 100%, 0 100%);
    clip-path: polygon(0 0, 75% 0, 100% 60%, 75% 100%, 0 100%);
  }
  .card {
    width: 80%;
    height: 300px;
  }
}

/* ---------------------------
            HEADER
--------------------------- */
.main-header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }
}

#menu {
  display: none;
}
#menu:checked ~ .nav-bar {
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: #E63946;
}

/* ---------------------------
            NAV-BAR
--------------------------- */
.nav-bar {
  background-color: #2f3e46;
  height: 5em;
}
.nav-bar__nav-list {
  display: flex;
  height: 100%;
  font-size: 1.5rem;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
@media (max-width: 1000px) {
  .nav-bar__nav-list {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.nav-bar__nav-link {
  display: block;
  padding: 2em;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px black;
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

/* ---------------------------
            SEARCH-BAR
--------------------------- */
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #52796f;
}
.search-bar__logo-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background-color: #2f3e46;
  width: 100%;
}
.search-bar__logo-container__image {
  max-width: 700px;
}
.search-bar__logo-container__slogan {
  margin: 0 auto;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 5px black;
}
@media (max-width: 1440px) {
  .search-bar__logo-container__slogan {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
  .search-bar__logo-container__slogan {
    font-size: 1.5rem;
  }
}
.search-bar__form-container {
  background-color: #52796f;
  display: flex;
  width: 70%;
  height: 50px;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
}
.search-bar__form-label {
  padding: 0 1em;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px #2f3e46;
}
@media (max-width: 1300px) {
  .search-bar__form-label {
    font-size: 1rem;
  }
}
@media (max-width: 650px) {
  .search-bar__form-label {
    font-size: 1rem;
  }
}
.search-bar__form-search {
  height: 50%;
  border-radius: 20px;
  border: none;
  padding: 1em;
  background-color: #cad2c5;
  width: 50%;
}
.search-bar__form-submit {
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #354f52;
  height: 50%;
  padding: 0 1em;
  margin: 0 1em;
  line-height: 1em;
  border-radius: 20px;
  border: none;
  background-color: #cad2c5;
}
.search-bar__carrito-container {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2f3e46;
  margin: 1em 0;
  width: 10%;
  text-align: center;
  border-radius: 20px;
  background-color: #cad2c5;
}

/* ---------------------------
            MENU-TOGGLE
--------------------------- */
.menu-toggle {
  display: none;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}
.menu-toggle__label {
  display: block;
  background-color: #457B9D;
  height: 100%;
}
.menu-toggle__top-bread, .menu-toggle__meat, .menu-toggle__bottom-bread {
  display: block;
  height: 0.2em;
  background-color: #23416C;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
}
.menu-toggle__top-bread {
  top: 0.8em;
}
.menu-toggle__meat {
  top: 50%;
  margin-top: -0.1em;
}
.menu-toggle__bottom-bread {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

.section-cards {
  padding: 1em;
}
.section-cards__header {
  margin-bottom: 3em;
  text-align: center;
  line-height: 2rem;
}

.cards-container {
  display: flex;
  gap: 1em 2em;
  flex-wrap: wrap;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */