.section-cards{
    padding: 1em;
    position: relative;

    &__header{
        color: #cad2c5;
        font-size: 1.25em;
        font-variant: small-caps;
        text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.521);
        margin: 3em 0 0;
        text-align: center;
        line-height: 2rem;
        letter-spacing: .5em;

        @media (max-width: 1024px){
            font-size: 1em;
            letter-spacing: .25em;
        }

        @media (max-width: 768px){
            font-size: .85em;
            letter-spacing: .25em;
        }

        & h5{
            color: #2f3e46;
            text-shadow: none;
            width: 600px;
            margin: 20px auto;
            background: hsla(133, 18%, 59%, 1);
            background: radial-gradient(circle, hsla(133, 18%, 59%, 1) 0%, hsla(97, 13%, 80%, .5) 100%);       
            background: -moz-radial-gradient(circle, hsla(133, 18%, 59%, 1) 0%, hsla(97, 13%, 80%, .5) 100%);      
            background: -webkit-radial-gradient(circle, hsla(133, 18%, 59%, 1) 0%, hsla(97, 13%, 80%, .5) 100%);      
            filter: "progid: DXImageTransform.Microsoft.gradient( startColorstr="#84A98C", endColorstr="#CAD2C5", GradientType=1 )";

            @media (max-width: 1024px){
                width: 60%;
            }
        }
    }
}

.cards-container{
    display: flex;
    gap: 1em 2em;
    margin: 5% 0;
    flex-wrap: wrap;
    justify-content: center;

    & h2:not(.card__heading){
        color: #cad2c5;
        letter-spacing: 3px;
        text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.521); 
    }
}