{{#each products}}
<div class="card">
    <article class="card__article">
        <div class="card__image-container">
            <img src="{{photo}}" class="card__image" alt="{{name}}">
        </div>
        <div class="card__content">
            <h2 class="card__heading">{{name}}</h2>
            <div class="card__description"></div>
        </div>
    </article>
</div>
{{/each}}