.section-form{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__header{
        color: #2f3e46;
        font-variant: small-caps;
        margin: 3em 0 0;
        text-align: center;
        line-height: 2rem;
    }
}