.section-cards{
    padding: 1em;

    &__header{
        margin-bottom: 3em;
        text-align: center;
        line-height: 2rem;
    }
}


.cards-container{
    display: flex;
    gap: 1em 2em;
    flex-wrap: wrap;
    justify-content: center;
}